* {
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}

html, body {
    height: 100%;
}

#container {
    height: 100%;
    min-height: 100%;
    position: relative;
    overflow-y: hidden;
}

header {
    position: relative;
    width: 100%;
    height: 45px;
    background-color: #141414;
}

header #title {
    color: #45525A;
    text-align: center;
    font-family: "Consolas";
    padding-top: 14px;
}

#frame-panel {
    background-color: #1A2125;
    height: 90%;
    padding-bottom: 45px;
}

.frame {
    font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
    height: 100%;
}

.frame-title {
    background-color: #232C31;
    color: white;
    line-height: 40px;
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.frame-body {
    color: white;
    background-color: #232C31;
    height: 100%;
    margin-top: -1px;
    border-top: 1px solid black;
    padding-top: 12px;
}

.frame-body .line-area {
    width: 3%;
    height: 94%;
    display: block;
    position: relative;
    float: left;
    text-align: right;
    font-size: 14px;
    word-wrap: break-word;
    overflow-y: auto;
}
.line-area::-webkit-scrollbar {
    display: none;
}

.line-area .active {
    background-color: #323A43;
}

.frame-body textarea {
    position: relative;
    float: left;
    width: 97%;
    height: 94%;
    font-size: 12px;
    padding-left: 12px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
    color: white;
}

#button-panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #1A2125;
    border-top: 1px solid black;
    /*display: block;*/
    padding-top: 10px;
}

#button-group {
    margin-left: 24px;
}

.btn {
    float: left;
    margin-right: 20px;
    color: white;
    border: 1px solid transparent;
    -moz-box-shadow:    inset 0 0 1px #000000;
    -webkit-box-shadow: inset 0 0 1px #000000;
    box-shadow:         inset 0 0 1px #000000;
    font-weight: bold;
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    transition: opacity .1s ease-in;
}

.btn-blue {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
}

.btn-blue:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

.btn-black {
    background: #4a5c66;
    background-image: -webkit-linear-gradient(top, #4a5c66, #313b40);
    background-image: -moz-linear-gradient(top, #4a5c66, #313b40);
    background-image: -ms-linear-gradient(top, #4a5c66, #313b40);
    background-image: -o-linear-gradient(top, #4a5c66, #313b40);
    background-image: linear-gradient(to bottom, #4a5c66, #313b40);
}

.btn-black:hover {
    background: #627c8a;
    background-image: -webkit-linear-gradient(top, #627c8a, #3b474d);
    background-image: -moz-linear-gradient(top, #627c8a, #3b474d);
    background-image: -ms-linear-gradient(top, #627c8a, #3b474d);
    background-image: -o-linear-gradient(top, #627c8a, #3b474d);
    background-image: linear-gradient(to bottom, #627c8a, #3b474d);
}